In [ ]:
# install pacakges

In [1]:
!pip install pandas
!pip install seaborn

Requirement already satisfied: pandas in /Users/BeiyuLin/Library/Python/3.7/lib/python/site-packages (0.24.2)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.7/site-packages (from pandas) (2019.2)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.7/site-packages (from pandas) (1.18.4)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.7/site-packages (from pandas) (2.7.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas) (1.11.0)
WARNING: You are using pip version 20.2.4; however, version 21.0.1 is available.
You should consider upgrading via the '/usr/local/opt/python/bin/python3.7 -m pip install --upgrade pip' command.
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/site-packages (0.11.1)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.7/site-packages (from seaborn) (1.1.0)
Requirement already satisfied: pandas>=0.23 in /Users/BeiyuLin/Library/Python/3.7/lib/python/site-packages (from seaborn) (0.24.2)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/site-packages (from seaborn) (1.18.4)
Requirement already satisfied: matplotlib>=2.2 in /Users/BeiyuLin/Library/Python/3.7/lib/python/site-packages (from seaborn) (3.1.0)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.7/site-packages (from pandas>=0.23->seaborn) (2019.2)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.7/site-packages (from pandas>=0.23->seaborn) (2.7.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (2.4.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas>=0.23->seaborn) (1.11.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib>=2.2->seaborn) (41.2.0)
WARNING: You are using pip version 20.2.4; however, version 21.0.1 is available.
You should consider upgrading via the '/usr/local/opt/python/bin/python3.7 -m pip install --upgrade pip' command.

In [22]:
import pandas as pd
import numpy as np
import seaborn as sns

In [33]:
df = pd.read_csv('sample.csv')
df.head(50)
df.groupby(['gender']).sum()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid
gender,,,,,,,,
0,11717533,3052008,2.741745e+05,-4.980382e+05,3247725,2.741719e+05,-4.980386e+05,121281892
1,143697885,77608414,7.190791e+06,-1.306120e+07,77714577,7.190762e+06,-1.306123e+07,3179619348
2,41120666,18044411,1.689513e+06,-3.069061e+06,18088291,1.689512e+06,-3.069068e+06,746728562

In [ ]:
# df = df.applymap(str)
# df['bikeid'] = df['bikeid'].astype(str)
sns.heatmap(df.isnull(), cmap='viridis')

df.replace('NaN ', np.NaN)
df.info()
df['bikeid'].isnull().sum()
df[df['bikeid']=='none']

In [29]:
df = df.dropna(subset=['bikeid'])
df.dtypes
# sub = "\N"
df[df['bikeid'] == 'none']
df['bikeid'].unique()

array(['21101', '15456', '16281', ..., '17617', '21099', '18327'],
      dtype=object)

In [ ]:
df.head()

In [ ]:
df.tail(3)

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.describe()

In [ ]:
sample = df[df['gender']!=0]